<header>
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-1 col-sm-3 logo">logo</div>
      <div class="col-md-11 col-sm-9 login-out">login-out</div>
    </div>
  </div>
</header>

<aside>
  <nav>
    <ul>
					<li class="">
						<a href="ajax/dashboard.html" title="blank_"><i class="fa fa-lg fa-fw fa-home"></i> <span class="menu-item-parent">Blank</span></a>
					</li>
				</ul>
  </nav>
</aside>

<div id="main" role="main" class="main">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-1 col-sm-3 memu">
        <span>main</span>
      </div>
    </div>
  </div>
</div>
<div class="footer">
  <div class="row">
    <div class="col-xs-12 col-sm-6">
      <span>zhangdelei</span><span>- UPM-WEB</span><span>@2017-2018</span>
    </div>
  </div>
</div>
